<div class="label roboto-condensed-upper">
    <span>{{pointsLabel}}</span>
    {{#if isEditable}}
    <button type="button" class="config-button unbutton" data-action="configure-power-points"
        data-cast-type="{{castType}}" data-tooltip aria-label="{{configureLabel}}">
        <i class="fas fa-cog" inert></i>
    </button>
    {{/if}}
</div>
<div class="meter sw5e-power-points {{castType}}-points">
    <div class="progress {{castType}}-points {{tempmaxSign}}" role="meter" aria-valuemin="0" aria-valuenow="{{value}}"
        aria-valuemax="{{ariaMax}}" style="--bar-percentage: {{pct}}%">
        <div class="label">
            <span class="value">{{value}}</span>
            <span class="separator">&sol;</span>
            <span class="max">{{effectiveMax}}</span>
            {{#if tempmax}}
            <span class="bonus">{{bonus}}</span>
            {{/if}}
        </div>
        <input type="text" name="system.powercasting.{{castType}}.points.value" data-dtype="Number" placeholder="0"
            value="{{value}}" hidden>
    </div>
</div>